# getloss - Configuración de Base de Datos en la Nube (Google Cloud Firebase)
# Obtén tus credenciales gratuitas en https://console.firebase.google.com
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_DATABASE_URL=

# getloss - Configuración de Envío de Correos con EmailJS
VITE_EMAILJS_SERVICE_ID=service_getloss
VITE_EMAILJS_TEMPLATE_ID=template_getloss
VITE_EMAILJS_PUBLIC_KEY=
